name: Test Changes

on:
  pull_requests:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-node@v1
      with:
        node-version: '12.x'
    - run: npm install
    - run: npm run build --if-present
    - run: npm test
      env:
        CI: true
        SOCIALBLADE_CLIENT_ID: ${{ secrets.SOCIALBLADE_CLIENT_ID }}
        SOCIALBLADE_ACCESS_TOKEN: ${{ secrets.SOCIALBLADE_ACCESS_TOKEN }}

